// -- COLORS -- //
//text//
$text-dark: #050505;
$text-grey: #725c58;
$text-pink: #ff3d2e;

//background//
$bg-white: #fbecec;
$bg-white-md: #fac9c4;
$bg-color: #ec8f87;
$bg-color-darker: #e5675b;

// -- SPACING -- //
$spacing-xs: 20px;
$scpacing-sm: 50px;
$spacing-md: 100px;
$spacing-lg: 150px;
$spacing-xl: 200px;
$spacing-2xl: 300px;
$spacing-3xl: 500px;
