@import "_variables.scss";
@import "_homepage.scss";
@import "_recipes.scss";
@import "_create-recipe.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

button,
.submit {
  border: none;
  background-color: $bg-color-darker;
  border-radius: 5px;
  color: $bg-white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $bg-white;
}
